<header>
  <div class="container">
    <img src="/assets/images/logo.png" alt="">
    
    <div class="user-board">
        <div class="account-actions">
          HAHAHAHA
        </div>
        <div class="account-information">
            BBBBBB
        </div>
        <div class="account-user">
            <img src="https://d3iw72m71ie81c.cloudfront.net/female-88.jpg" alt="">
        </div>
        
    </div>

  </div>
</header>
<section class="content">



</section>


<footer>
  <div class="container">
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>

  </div>
  <div class="copyright">
    <p>@UbaCommerce - Todos os Direitos Reservados</p>
  </div>
</footer>


<!--  <img src="https://d3iw72m71ie81c.cloudfront.net/female-88.jpg" alt=""> -->
