/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box; }

a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none; }
  
  ul, ol {
    list-style: none; }
  
  header, nav, article,
  section, aside, footer {
    display: block; }
  
  figure {
    line-height: 0; }
  
  figure > img {
    width: 100%; }
  
  figure > figcaption {
    display: none; 
}

header {
  width: 100%;
  background-color: #2b373a; 
}



header .container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-board {
  color: #FFF;
  display: flex;
  align-items: center;
  
}

.account-information {
  padding: 10px;
}


.account-user {
  padding: 10px;
}

.account-user img {

  height: 53px;
  width: 53px;
  border-radius: 50%;
}





footer {
  width: 100%;
  background-color: #2b373a;
  position: absolute;
  bottom: 0;
  color: #FFF;
}

footer .container {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .copyright {
  width: 100%;
  height: 30px;
  background-color: #21282A;
}

footer .copyright p {
  color: #FFF;
  padding-left: 30px;
  
}







/* .header-wrap {
    background-color: #2b373a; 
    height: 100px;
    width: 100%;
}
 */
